<footer>
    <div class="kleanity-footer-wrapper">
        <div class="kleanity-footer-container kleanity-container clearfix">
            <div class="row">
                <div class="col-md-4">
                    <div class="kleanity-footer-column kleanity-item-pdlr ">
                        <div id="recent-posts-3" class="widget widget_recent_entries kleanity-widget">
                            {# <h3 class="kleanity-widget-title"><span class="kleanity-widget-head-text">S’INSCRIRE À LA NEWSLETTER</span><span class="kleanity-widget-head-divider"></span></h3><span class="clear"></span>
                            <input type="email" class="form-control" placeholder="Email">
                            <button class="btn btn-secondary btn-sm my-3">S'abonner</button> #}
                            <div class="footer-social-net mt-4">
                                <h3>RÉSEAUX SOCIAUX</h3>
                                <div >
                                    <a href="https://www.facebook.com/elephasparis/"  style="margin-right:10px;border-radius:4px;padding:8px 11px;font-size:25px;color:rgb(54, 56, 57);background-color:rgb(224, 224, 224);border-color:rgb(224, 224, 224);"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a  href="https://www.instagram.com/elephas_paris/"  style="border-radius:4px;padding:8px;font-size:25px;color:rgb(54, 56, 57);background-color:rgb(224, 224, 224);border-color:rgb(224, 224, 224);">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="kleanity-footer-column kleanity-item-pdlr ">
                        <div id="gdlr-core-recent-portfolio-widget-3" class="widget widget_gdlr-core-recent-portfolio-widget kleanity-widget">
                            <h3 class="kleanity-widget-title"><span class="kleanity-widget-head-text">CONTACT</span><span class="kleanity-widget-head-divider"></span></h3><span class="clear"></span>
                            <div class="footer-contact-info">
                                <p>9 Rue Montbrun</p>
                                <p>75014 Paris</p>
                                <p>Email: contact@elephas.fr</p>
                            </div>

                            <img src="/assets/img/footer/fr_seal_neutral-105.png" class="mt-3">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="kleanity-footer-column kleanity-item-pdlr ">
                        <div id="text-7" class="widget widget_text kleanity-widget">
                            <h3 class="kleanity-widget-title"><span class="kleanity-widget-head-text">MONNAIES</span><span class="kleanity-widget-head-divider"></span></h3><span class="clear"></span>
                            <div class="row">
                                <div class="col"></div>
                                <div class="col fw-bolder"><span>EUR</span></div>
                                <div class="col"></div>
                            </div>
                            

                            <h3 class="kleanity-widget-title mt-5"><span class="kleanity-widget-head-text">MOYENS DE PAIEMENTS</span><span class="kleanity-widget-head-divider"></span></h3><span class="clear"></span>
                            <img src="{{ asset('/assets/img/stripe-icon.ico') }}"  width="20" alt="footer-payment-method">
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kleanity-copyright-wrapper">
        <div class="kleanity-copyright-container kleanity-container">
            <div class="kleanity-copyright-text kleanity-item-pdlr">
                <a href="https://elephas.fr/fr/conditions-generales/"> Conditions Générales</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="https://elephas.fr/fr/politiquedeconfidentialite/">Politique de confidentialité</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a href="https://elephas.fr/fr/conditions-dexpedition-retours/"> Livraisons et Retours </a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 
                <a href="https://pixelsior.fr/">© copyright pixelsior <span id="copyright_year">{{ 'now' | date('Y') }}</span> </a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;   ELEPHAS Paris®   &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;   Tous droits réservés
            </div>
        </div>
    </div>
</footer>