<header class="kleanity-header-wrap kleanity-header-style-plain  kleanity-style-menu-right kleanity-sticky-navigation kleanity-style-slide">
    <div class="kleanity-header-background background-white"></div>
    <div class="kleanity-header-container  kleanity-header-full" style="width: 50%;">
        <div class="kleanity-header-container-inner clearfix py-3">
            <div class="elephas-logo">
                <a href="https://elephas.fr"  class="d-flex align-items-center justify-content-center"><img src="{{asset('assets/utils/images/logo.png')}}" alt="Elephas logo" ></a>
            </div>

        </div>
    </div>
</header>