.paragraph-ico-section {
    color: black;
}

.gdlr-core-personnel-item .gdlr-core-personnel-list .gdlr-core-personnel-list-image img{
    object-fit: fill;
    height: 220px;
    object-position: 50% bottom;
}

.gdlr-core-column-service-media{
    margin-top: 2000px;
    margin-right: 45px!important; 
    margin-top: 20px!important; 
    max-width: 61px!important;
    min-width: 50px!important;
}


#kleanity-page-wrapper .gdlr-core-pbf-wrapper{
    padding: 170px 0px 150px 0px;
    color: rgb(0, 0, 0);
}
@media (max-width: 999px) {
    #kleanity-page-wrapper .gdlr-core-pbf-wrapper{
        padding: 35px 0;
        color: rgb(0, 0, 0);
    }   
}

