<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validation du compte</title>
</head>
<body>
    <p><b>Code de vérification:</b> {{code}}</p>
    <p><b>Date d'expiration:</b> {{dateExpiration | date('Y-m-d H:i:s')}}</p>
</body>
</html>