<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande</title>
    <style>

    </style>
</head>
<body>
    <div>
        Bonjour {{ order.info.prenom }},<br><br>
        Nous vous remercions pour votre confiance.<br>
        Celle-ci sera traitée dans les meilleurs délais et sera présentée à l’adresse de livraison indiquée.<br>
        A bientôt sur Elephas.<br><br>
        {# Olivier Behra<br>
        Fondateur d'Elephas #}
    </div>
    <div>
        <img src="cid:logo" />
    </div>
</p>

</body>
</html>
